.input_box {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 400px;

  margin: 0 auto;            /* ⬅️ ЦЕНТР */
  padding: 40px 32px;

  align-items: center;       /* ⬅️ центрує input всередині */
}

.input_box input {
  width: 100%;
  max-width: 370px;

  border-radius: 8px;
  border: 2px solid #000;
  padding: 10px;
}

.container_login{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100vh;
    justify-content: center
}
