.img_profile{
    height: 250px;
    width: 250px;
}

.prof_container{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;

}

.prof_page_name{
    font-size:xx-large;
}