.input_boxs{
    display: flex;
    flex-direction: column;
    padding: 20px 50px 80px 50px;
    height: 120px;
    justify-content: space-between;
        input{
        border-radius: 8px;
        border: 2px solid;
        padding: 10px;
        margin: 10px;
        width: 390px;   
    }
}

.button_box{
    height: 100px;
}

.e{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}